:root {
    --gray-100: #F0F0F0;
    --gray-1000: #454545;
    --blue-1000: #43689B;
}
* {
    box-sizing: border-box;
}   
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

main {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.content {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar--container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-height: 400px;
    justify-content: space-around;
    padding: 0 10px;
    background-color: var(--gray-100);
}

.album-details-container {
    padding: 40px;
    display: flex;
    gap: 20px;
    width: 100%;
    background: var(--gray-1000);
}

.album-details-container > .album-icon {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.album-info {
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.album-info > div{
    margin: 0;
}

.album-info div h3 {
    margin: 0;
    font-size: 28px;
}
.album-info div h6 {
    margin: 0;
}

.album-info .actions {
    display: flex;
    gap: 12px;
}


#next-tracks-list {
    list-style-type: none;
    padding: 10px;
}

#next-tracks-list li {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin-right: auto;
    align-items: center;
}
#next-tracks-list li:nth-child(2n) {
    background-color: var(--gray-100);
}
#next-tracks-list li p {
    margin: 0;
}

#next-tracks-list a {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: blue;
}

footer {
    display: flex;
    padding: 20px;
    background-color: var(--blue-1000);
    color: white;
}

.current-track-info {
    display: flex;
    margin-right: auto;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.current-track-info p {
    margin-top: 0;
    font-size: 12px;
    font-weight: 700;
}

.current-track-info > img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.track-action-buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
